/* Write your CSS here */

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  flex-shrink: 1;
  flex-grow: 0;
}

.image {
  width: 300px;
  height: 300px;
}
